"" .ideavimrc - Raphael Lüthy


"" Base Setting
"" ========================================================

"set hlsearch
"set viminfo^=h

set ignorecase smartcase
set commentary
set showmode
set NERDTree
set quickscope
set surround
set highlightedyank
set notimeout

set history=1000
set tabstop=4
set softtabstop=4
set shiftwidth=4
set expandtab=true
set scrolloff=8
set wrap=true
set relativenumber number
set timeoutlen=1000

set clipboard+=unnamed

" No annoying sound on errors
set visualbell
set tm=500

" Use system clipboard
set clipboard+=unnamed

let mapleader = " "


" set quickscope keys
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']"

"" Key mappings
"" ========================================================

" Jump between methods -> need to seach for a better solution
" nnoremap [[ <Action>(MethodUp)
" nnoremap ]] <Action>(MethodDown)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

" Move lines up / down
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Execute macro saved in 'q' register
nnoremap qj @q


"" Leader commands
"" ========================================================

" Comment lines
map <leader>c <action>(CommentByLineComment)

" Open NERDTree (use q to exit)
map <leader>x :NERDTreeToggle<CR>

" Folding
map <leader>zc :action CollapseAllRegions<CR>
map <leader>zo :action ExpandAllRegions<CR>

" File navigation
map <leader>sf <action>(GotoFile)
map <leader><leader> <Action>(RecentFiles)

" Close active tab
map <leader>q <action>(CloseContent)

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)

" Split panes
map <leader>v <Action>(SplitVertically)
map <leader>s <Action>(SplitHorizontally)

" navigate split panes
map <leader>h <C-w>h
map <leader>j <C-w>j
map <leader>k <C-w>k
map <leader>l <C-w>l

" navigate buffers
map <S-l> <Action>(NextTab)
map <S-h> <Action>(PreviousTab)

" tooltip
map <leader>tt <Action>(ShowQuickDoc)

nmap gh <Action>(ShowHoverInfo)

nmap <C-h> <Action>(ShowHoverInfo)
nmap <K> <Action>(ShowHoverInfo)
nmap <leader>f <Action>(ReformatCode)
